[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[credential]
  helper = GIT_CREDENTIAL_HELPER
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[push]
  default = current
[alias]
  whatadded = log --diff-filter=A
  jedi = push --force
  jedipull = "!f() { \
    BRANCH=$(git rev-parse --abbrev-ref HEAD);\
    REMOTE=$(git rev-parse --abbrev-ref --symbolic-full-name @{u} | awk -F/ '{print $(NF-1)}');\
    git checkout master;\
    git branch -D $BRANCH;\
    git fetch $REMOTE;\
    git checkout $BRANCH;\
   }; f"gst
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true