{{- $email := .personalEmail -}}
{{- $signingKey := .personalSigningKey -}}
{{- if eq .profile "work" -}}
{{- $email = .workEmail -}}
{{- $signingKey = .workSigningKey -}}
{{- end -}}
[user]
	name = {{ .name | quote }}
	email = {{ $email | quote }}
{{- if $signingKey }}
	signingkey = {{ $signingKey | quote }}
{{- end }}
[push]
  default = current
[alias]
  whatadded = log --diff-filter=A
  jedi = push --force-with-lease
  jedipull = pull --rebase --autostash
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if and .useGpgSigning $signingKey }}
[commit]
	gpgsign = true
{{- if .gpgProgram }}
[gpg]
	program = {{ .gpgProgram | quote }}
{{- end }}
[pinentry]
	mode = loopback
{{- end }}
